/* Estilos para dispositivos com largura de tela até 600px (celulares) */
@media only screen and (max-width: 600px) {
    body {
        background-color: #ffffff;
        margin: 0;
        padding: 0;
        
    }

    .navegacao {
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.585);
        width: 100%;
        position: relative;
    }
    .navegacao ul{
        overflow: hidden;
    }

    .logo {
        font-size: 24px;
        margin: 10px;
        padding: 5px 10px;
        border-radius: 5px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .navegacao li {
        margin: 0 5px;
    }

    .descricao{
        margin: 20px;
        font-size: 14px;
        text-align: center;
    }

    .persona{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .perfil-img{
        width: 200px;
    }

    .intro-texto {
        width: 100%;
        max-width: 250px;
        margin: 20px auto;
        padding: 10px;
        font-size: 16px;
        text-align: center;
        border: 2px solid #000;
        border-radius: 10px;
    }

    .minha-habilidade {
        flex-wrap: wrap;
        justify-content: center;
    }

    .colunas {
        width: 90%;
        max-width: 300px;
        margin: 20px auto;
        padding: 10px;
        border: 2px solid #000;
        border-radius: 10px;
    }

    .colunas img {
        max-width: 80%;
        height: auto;
    }

    .titulo-projeto h3 {
        margin: 20px auto;
        font-size: 35px;
        text-align: center;
    }

    .projetos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .project-box {
        width: 90%;
        max-width: 200px;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    .contato {
        width: 90%;
        max-width: 300px;
        margin: 20px auto;
        padding: 10px;
        background-color: #383838;
        color: #fff;
        border-radius: 10px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    .contato h3 {
        margin: 10px 0;
        font-size: 20px;
    }

    .icons-c {
        font-size: 30px;
        margin: 10px;
    }

    .rodape {
        background-color: #383838;
        color: #fff;
        text-align: center;
        padding: 10px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    .rodape footer p {
        margin: 0;
        font-size: 16px;
    }
    
}
